@font-face { font-family: 'PostGrotesk'; src: url("../fonts/PostGrotesk-Light.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'PostGrotesk'; src: url("../fonts/PostGrotesk-LightItalic.woff") format("woff"); font-weight: 300; font-style: italic; }

@font-face { font-family: 'PostGrotesk'; src: url("../fonts/PostGrotesk-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'PostGrotesk'; src: url("../fonts/PostGrotesk-Bold.woff") format("woff"); font-weight: 700; font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; text-rendering: optimizeLegibility; -webkit-font-variant-ligatures: common-ligatures; font-variant-ligatures: common-ligatures; -moz-font-feature-settings: "kern=1"; -webkit-font-feature-settings: "kern"; -moz-font-feature-settings: "kern"; font-feature-settings: "kern"; font-kerning: normal; }

cite, em, i { font-style: italic; }

cite cite, cite em, cite i, em cite, em em, em i, i cite, i em, i i { font-style: inherit; }

html { background-color: #eee; }

body { max-width: 320px; }

body { font-family: "PostGrotesk", Helvetica, Arial, sans-serif; font-size: 17px; font-weight: 300; line-height: 1.2; color: #333; margin: 0 auto; -webkit-font-smoothing: antialiased; background-color: white; }

.header-nav { padding: 16px 0; overflow: auto; }

.header-nav-item { display: block; float: left; font-size: 14px; }

.header-nav-item a { display: block; padding: 5px 16px; text-decoration: none; color: #333; height: 24px; }

.header-nav-item a:link { color: #333; }

.header-nav-item a:visited { color: #333; }

.header-nav-item a:hover { color: #bd10e0; }

.header-nav-item a:active { color: #333; }

.header-nav-logo { margin-right: 4px; }

.header-nav-item:hover .style1, .header-nav-item:hover .style2 { fill: #bd10e0; }

.header-nav-item:hover a { color: #bd10e0; }

.header-nav-item._home { font-weight: 700; }

.header-nav-item._home a { padding-top: 0; padding-bottom: 0; }

.header-nav-item._home span { position: relative; bottom: 7px; }

section { padding: 16px; overflow: hidden; }

.container-title, .container-subtitle { font-size: 24px; line-height: 1.1; }

.container-title { font-weight: 500; }

.slice-hook { font-size: 12px; font-weight: 700; width: 136px; margin-bottom: 16px; margin-top: 16px; }

.slice-hook:before { content: ''; display: block; width: 48px; height: 1px; margin-bottom: 8px; border-top: 1px solid #333; }

.slice-main { line-height: 1.4; }

a[role='button'] { display: block; text-decoration: none; text-align: center; color: #bd10e0; font-weight: 700; font-size: 12px; padding: 21px; border: 1px solid #bd10e0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; width: 232px; margin: 16px auto; }

a[role='button']:hover { border-width: 2px; padding: 20px; }

a[role='button']:active { color: white; border-color: #bd10e0; background: #bd10e0; }

a[role='button']:active span::after { content: url("../images/ui-arrow-white.svg"); margin-left: 4px; position: relative; }

a[role='button'] span::after { content: url("../images/ui-arrow.svg"); margin-left: 4px; position: relative; }

._sketches { background-color: #EAEAE5; }

._roundup { background-color: #333; color: white; }

._roundup .container-subtitle { color: #F8CC1C; }

#hopper { margin-top: 16px; }

.roundup-post { border-top: 1px solid rgba(254, 254, 254, 0.25); padding: 16px 0; }

.roundup-post + .roundup-post { margin-top: 8px; }

.roundup-post-date { font-size: 12px; font-weight: 700; }

.roundup-post-content { margin-top: 8px; }

.roundup-post-title, .roundup-post-logline { display: block; margin-top: 6px; }

.roundup-post-logline { color: rgba(254, 254, 254, 0.4); }

.roundup-post-title { font-weight: 700; line-height: 1.1; }

.roundup-post-title a { text-decoration: none; }

.roundup-post-title a:hover { text-decoration: underline; }

.roundup-post-title a::after { content: url("../images/ui-arrow.svg"); margin-left: 4px; position: relative; }

.roundup-post-title a:link { color: #bd10e0; }

.roundup-post-title a:visited { color: #bd10e0; }

.roundup-post-title a:hover { color: #bd10e0; }

.roundup-post-title a:active { color: white; }

.roundup-post-title a:active::after { content: url("../images/ui-arrow-white.svg"); margin-left: 4px; position: relative; }

.roundup-post-title a:after { bottom: 1px; }

.roundup-post-author { font-size: 12px; font-weight: 700; margin-top: 8px; color: rgba(254, 254, 254, 0.9); }

.roundup-post-author:before { content: 'Posted by '; font-weight: 200; }

/*# sourceMappingURL=styles.css.map */