@font-face { font-family: 'PostGrotesk'; src: url("../fonts/PostGrotesk-Light.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'PostGrotesk'; src: url("../fonts/PostGrotesk-LightItalic.woff") format("woff"); font-weight: 300; font-style: italic; }

@font-face { font-family: 'PostGrotesk'; src: url("../fonts/PostGrotesk-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'PostGrotesk'; src: url("../fonts/PostGrotesk-Bold.woff") format("woff"); font-weight: 700; font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; text-rendering: optimizeLegibility; -webkit-font-variant-ligatures: common-ligatures; font-variant-ligatures: common-ligatures; -moz-font-feature-settings: "kern=1"; -webkit-font-feature-settings: "kern"; -moz-font-feature-settings: "kern"; font-feature-settings: "kern"; font-kerning: normal; }

cite, em, i { font-style: italic; }

cite cite, cite em, cite i, em cite, em em, em i, i cite, i em, i i { font-style: inherit; }

html { background-color: #eee; }

body { max-width: 320px; background-color: white; }

body { font-family: "PostGrotesk", Helvetica, Arial, sans-serif; font-size: 17px; font-weight: 300; line-height: 1.2; color: #333; margin: 0 auto; -webkit-font-smoothing: antialiased; }

section { margin: 0 16px; }

.container-title { font-size: 24px; font-weight: 500; margin-bottom: 16px; }

.slice-hook { font-size: 12px; font-weight: 700; width: 136px; margin-bottom: 16px; }

.slice-hook:before { content: ''; display: block; width: 48px; height: 1px; margin-bottom: 8px; border-top: 1px solid #333; }

.slice-main { line-height: 1.4; }

a[role='button'] { display: block; text-decoration: none; text-align: center; color: #bd10e0; font-weight: 700; font-size: 12px; padding: 21px; border: 1px solid #bd10e0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; width: 216px; margin: 16px auto; }

a[role='button']:hover { color: #333; border-color: #333; }

a[role='button']:active { color: white; border-color: #333; background: #333; }

/*# sourceMappingURL=styles.css.map */