<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <meta content="The Libary Innovation Lab at Harvard University" name="description">

    <title>The Library Innovation Lab at Harvard University</title>
    
    <link href="{{ paths.theme }}css/styles.css" rel="stylesheet">
    <link href="{{ paths.theme }}css/homepage.css" rel="stylesheet">
    <link href="apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
</head>