<!-- roundup section -->
	<section class="container _roundup">
		<h2 class="container-title">Roundup</h2>
		<p class="container-subtitle">Interesting things from here and there.</p>
		<div id="hopper"></div>
		{# <div class="roundup-posts">
			{% for thisRoundupPost in objects.roundup.posts.reverse(date).limit(5) %}
				<div class="roundup-post">
					<div class="roundup-post-date">{{ thisRoundupPost.date|date(Month, dd YYYY) }}</div>
					<div class="roundup-post-content">
						<strong class="roundup-post-title"><a href="#">{{ thisRoundupPost.title }}</a></strong>
						<span class="roundup-post-logline">{{ thisRoundupPost.description }}</span>
					</div>
					<div class="roundup-post-author">{{ thisRoundupPost.author }}</div>
				</div>
			{% endfor %}
		</div>#}
	</section>
