<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <meta content="The Libary Innovation Lab at Harvard University" name="description">
	<meta property='og:image' content='{% block facebookImage %}{% endblock %}'/>
	<link rel="icon" type="image/png" href="{{ paths.theme }}images/favicon.png" />
    <title>{% block pageTitle %}{% endblock %}</title>
    
    <link href="{{ paths.theme }}css/styles.css" rel="stylesheet">
    {% block extra_styles %}{% endblock %}
    <link href="apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
</head>

<!-- 
	- html is classed using a modified BEM (Block, Element, Modifier) method
	- in general, the primary block class is listed first, with an element connected by a hyphen. modifier classes follow, each preceded by an underscore.
	- multi-word blocks, elements, or modifiers are written in camelCase
	- so, an active primary nav list element might look like "primaryNav-list-item _active" 
-->
{% block body_tag %}<body>{% endblock %}
{% block content %}

{% endblock %}

<footer>
	<div class="footer-wrapper">
		<figure class="footer-logo">
			<img	srcset="{{ footerLogoImage|thumbnail(351,143,'r') }} 1x, 
						{{ footerLogoImage|thumbnail(702,286,'r') }} 2x"
					alt="Library Innovation Lab" />
		</figure>
		<ul class="footer-nav">
			<li class="footer-nav-item"><a href="{{ paths.root }}">Home</a></li>
			<li class="footer-nav-item"><a href="{{ paths.root }}about">About</a></li>
			<li class="footer-nav-item"><a href="{{ paths.root }}projects">Projects</a></li>
			<li class="footer-nav-item"><a href="{{ paths.root }}sketches">Sketches</a></li>
			<li class="footer-nav-item"><a href="http://librarylab.law.harvard.edu/blog/">Blog</a></li>
		</ul>
		<div class="footer-copyright">
			<p>©2015 The President and Fellows of Harvard University</p>
			<p>The content on this site is covered under a Creative Commons Attribution-ShareAlike 3.0 Unported license unless otherwise noted.</p>
		</div>
	</div>
</footer>

<script src="{{ paths.theme }}javascripts/jquery-2.1.0.min.js"></script>
<script src="{{ paths.theme }}javascripts/picturefill.min.js"></script>
<script src="{{ paths.theme }}javascripts/lilapp-min.js"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>

