// dan o. williams
// library innovation lab scss
// styles.scss


// typography

@font-face {
    font-family: 'PostGrotesk';
    src:url('/fonts/PostGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PostGrotesk';
    src:url('/fonts/PostGrotesk-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PostGrotesk';
    src:url('/fonts/PostGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PostGrotesk';
    src:url('/fonts/PostGrotesk-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


// reset

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// vars

$black: #333;

// first things first

*, *:before, *:after {
    box-sizing: border-box;
    text-rendering: optimizelegibility;
}

body {
    font-family: 'PostGrotesk', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    color: $black;
    margin: 0 auto;
    max-width: 1500px;
    -webkit-font-smoothing: antialiased;
}